
.footer {
    color: white;
    padding: 40px 0;
    padding-top: 50px;
     
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(60px);
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    color: #ccc;
    font-size: 25px;
    text-decoration: none;
    margin: 5px 0;
}

.footer-section a:hover {
    color: white;
}

.social a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size:25px;
    color: #777;
}
.footer-section p{
    font-size: 25px;
    color: rgb(205, 157, 255);
}
.footer img{
    max-width: 50px;
}